body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #AAC4FF 1.18%, #cfddfd 100%);
    color: white;
    padding: 20px;
}
.header .leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.header .rightside {
    margin-right: 4rem;
}
.header--image{
    height: 100%;
    margin-right: 6px;
}
.header--tittle{
    font-size: 1.25rem;
}
.header--project{
    font-size: 1.2rem;
    font-weight: 500;
}

/* main */
main{
    padding: 36px;
}
/* meme */
.meme{
    position: relative;
}
.meme h2 {
    font-size: 2rem;
    font-weight: bold;
}
.meme .top {
    position: absolute;
    top: 0;
    left: 100px;
}
.meme .bottom {
    position: absolute;
    bottom: 0;
    left: 100px;
}
/* form */
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 1rem;
}
.form--input{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.form--button {
    grid-column: 1 / -1;
    background: linear-gradient(90.41deg, #FD8A8A 1.14%, #fed2d2 100%);
    color: white;
    cursor: pointer;
}
 
.meme--image{
    max-width: 100%;
    height: 50%;
}
.testing2 {
    height: max-content;
    background-color: #FD8A8A;
    color: black;
}
.primary-btn{
    border-radius: 2rem;
    border: 2px solid white;
    align-items: center;
    margin: auto;
}
.card{
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.card--image{
    max-width: 200px;
    border-radius: 50%;
}
.star--image{
    max-width: 20px;
}
.counter {
    display: flex;
    background-color: #FD8A8A;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 10rem;
}
.counter--minus {
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    position: absolute;
    left: 11rem;
    height: 60px;
}
.counter--count{
    border: 2px solid white;
    background-color: grey;
    border-radius: 50%;
    text-align:center;
    width: 100px;
    top:1rem;
    position: absolute;
    right: 18rem;
    z-index: 10;
    height:100px;
}
.counter--plus {
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    position: absolute;
    right: 15.8rem;
    height: 60px;
}
.box {
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 9px;
    border: 2px solid black;
    margin: 1rem;
}
.challenge {
    max-height: max-content;
    background-color: bisque;
}
.Form {
    background-color: rgb(165, 245, 245);
}
input, textarea {
    margin-top: 1rem;
    margin: 2px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 6px;
    display: block;
}
.container
{
    margin-top: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height:50vh;
}
.windowTracker {
    background-color: rgb(253, 100, 44);
    color: white;
    width: 100vw;
    height: 40vh;
}

/* Last Challenge */
            /* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav.dark {
    background-color: #21222A;
}
.logo_heading {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.logo_heading h3{
    font-weight: 1300;
    color: #61DBFB;
    font-size: 2rem;
}
.nav--logo_icon {
    width: 50px;
    height: 50px;
    margin-left: 3.5rem;
}

.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggler--dark{
    margin-right: 4rem;
}
.toggler--slider{
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}
nav.dark .toggler--slider{
    justify-content: flex-end;
}
nav.dark .toggler--slider {
    background-color: white;
    border-color: #f5f5f5;
}
.toggler--slider--circle{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}
nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #918E9B;
}
nav.dark  .toggler--dark {
    color: #2B283A;
}
/* ============MAIN========= */
main {
    margin-top: 1rem;
    padding: 57px 27px;
    background-image: url('./images/react-icon-light.png');
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: white;
    color: #2B283A;
}
main.dark {
    margin-top: 0;
    background-image: url('./images/react-icon-dark.png') no-repeat;
    background-color: #282D35;
    color: white;
}
.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}
.main--facts {
    margin-top: 46px;
    max-width: 400px;
}
.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}
.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}